.card {
  max-width: 300px;
  max-height: 450px;
  box-shadow: var(--box-shadow);
  background: white;    
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 0 10px rgba(51, 51, 51, 0.5) 
}
  
.card-img {    
  max-width: 300px;    
  height: 200px;
  background-position: center;  
  background-size: cover;
  background-image: url('https://baladasegura.rs.gov.br/themes/modelo-institucional/images/outros/GD_imgSemImagem.png');
}

.card-info {
  padding: 15px;
}

.card-title {
  height: 50px;  
  display: grid;
  align-content: initial;
}

.card-info p {
  padding: 2.5px 0;
}

.card-info img {
  width: 12px;
  padding-top: 5px;  
}

.card-info h2 {
  color:var(--main-color);
}