@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
  --main-color: #be36f7;  
  --trd-color: rgba(51, 51, 51, 0.05);
  --box-shadow: 0 0 5px rgba(51, 51, 51, 0.2)
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 15px Josefin Sans, sans-serif;  
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

button, input, textarea {
  font: 400 15px Josefin Sans, sans-serif;
  height: 42.5px;
  padding: 15px;
  border: none; 
  margin: 15px 0; 
  width: 100%;
}

.container {  
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.content {
  width: 900px;
  padding: 50px 0;    
}


