nav {
    background: #fff;
    width: 100%;
    height: 75px;
    box-shadow: var(--box-shadow);
  
    display: grid;
    grid-template-columns: 1fr;  
    justify-items: center;
  }
  
  .nav-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .nav-img {
    min-width: 450px; 
    display: grid;
    align-items: center;
    justify-content: start;
  }
  
  .nav-img img {
    width: 30px;
  }
  
  .nav-menu {
    min-width: 450px;
    display: grid;
    align-content: center;
    justify-content: end;
  }
  
  .btn {
    height: 42.5px;
    width: 100px;
    border: 0;
    color: #fff;
    background: var(--main-color); 
    transition: 0.5s;
  }
  
  .btn:hover {
    background: #333;
  }